<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.android.carrierconfig" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <application android:allowBackup="false" android:directBootAware="true" android:extractNativeLibs="true" android:usesNonSdkApi="true">
        <service android:name=".DefaultCarrierConfigService" android:permission="android.permission.BIND_CARRIER_SERVICES">
            <intent-filter>
                <action android:name="android.service.carrier.CarrierService"/>
            </intent-filter>
        </service>
    </application>
</manifest>